*{
margin:0;
box-sizing: border-box;
}

body{
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,footer,.desc{
    background-color: #1F2937;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    color:#F9FAF8 ;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 18px;
}

.links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #E5E7EB;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

main div{
    flex: 1;
}

.desc{
    display: flex;
    padding: 3rem;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 400px;
}

.sec-text{
    font-size:18px;
    color: #E5E7EB;
    max-width: 470px;
}

.left button{
    width: 200px;
    background-color:#3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    padding: .7rem;
    align-self: start;
}

.right{
    display: flex;
    padding: 3rem;
}

.placeholder{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: gray;
    color: #E5E7EB;
    height: 300px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    background-color: #F9FAF8;
}

.title{
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    color:gray;
}

.card{
    border: 3px solid #3882F6;
    border-radius: 15px;
    height: 210px;
    width: 210px;
    margin-bottom: 1rem;
}

.box p{
    max-width: 210px;
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E5E7EB;
    padding: 3rem;
    color: #1F2937;
}

.text :nth-child(1){
    max-width: 700px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.text :nth-child(2){
    width: 600px;
    text-align: end;
    font-weight: bolder;
}

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.call{
    padding: 3rem 5rem;
    max-width: 900px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container :nth-child(1){
    font-weight: bold;
}

.call button{
    padding: .3rem 1.5rem;
    border:2px solid #F9FAF8;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color:#F9FAF8 ;
}